div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div p{
    color:rgb(22, 22, 189);
}

ul > li{
    list-style-type: circle;
}

p > span{
    
    color: red;
}

p + p{
    background-color: rgb(219, 219, 219);
}

p ~ span{
    
    color: red;
}