div{
    border: 2px solid black;
    padding-left: 1em;
    margin-bottom: 1em;
}
.fixed-width{
    width: 300px;
}
.percantage-width{
    width: 50%;
}
.viewport-width{
    width: 50vw;
}
.min-max-width{
   min-width: 100px;
   max-width: 300px;
}